<div class="carouseli">
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" checked/>
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
  <main id="carousel">
    <div class="item"><img src="https://m.media-amazon.com/images/M/MV5BMzVlMmY2NTctODgwOC00NDMzLWEzMWYtM2RiYmIyNTNhMTI0XkEyXkFqcGdeQXVyNTAzNzgwNTg@._V1_.jpg" width="550" height="650"></div>
    <div class="item"><img src="https://m.media-amazon.com/images/M/MV5BMDBlMDYxMDktOTUxMS00MjcxLWE2YjQtNjNhMjNmN2Y3ZDA1XkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_FMjpg_UX1000_.jpgz " width="550" height="650"></div>
    <div class="item"><img src="https://m.media-amazon.com/images/M/MV5BMTc2MjcwNjI0MF5BMl5BanBnXkFtZTcwMjM4NjM3MQ@@._V1_FMjpg_UX1000_.jpg " width="550" height="650"></div>
    <div class="item"><img src="https://docsbarcelona.com/cache/containers/images/movies/Poster-fire-of-love.jpg/faf3bc11959004eab67e99e7e3030d4e.jpg " width="550" height="650"></div>
    <div class="item"><img src="https://i.pinimg.com/736x/be/f3/d4/bef3d4b9a55c283154b366bb906193d5.jpg" width="550" height="650"></div>
    <div class="item"><img src="https://upload.wikimedia.org/wikipedia/en/e/eb/Hereafter.jpg" width="550" height="650"></div>
    <div class="item"><img src="https://m.media-amazon.com/images/M/MV5BMzczOTc4ODU3Ml5BMl5BanBnXkFtZTgwMDMyODMwMjE@._V1_.jpg" width="550" height="650"></div>
    <div class="item"><img src="https://m.media-amazon.com/images/M/MV5BNzQyNTlmZTQtNzJhZS00ZmEwLWE4MmUtMzg3ZWFjNzRmZTY2XkEyXkFqcGdeQXVyMjM3NzM4MTU@._V1_QL75_UX190_CR0,0,190,281_.jpg " width="550" height="650"></div>
  </main>
</div>


